<div class="notificationBar">
    <div class="barBorder">
        <div class="bar" id="healthBar"></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="hungryBar"></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="tirednessBar"></div>
    </div>
    <div class="logoutButton" (click)="logout()">
        Wyloguj
    </div>
</div>
<div class="gameWindow">
<div class="creature">
    <div class="creatureEye"></div>
    <div class="creatureEye"></div>
</div>

</div>