<div class="notificationBar">
    <div class="barBorder">
        <div class="bar" id="healthBar"></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="hungryBar"></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="tirednessBar"></div>
    </div>
    <div class="logoutButton" (click)="logout()">
        Wyloguj
    </div>
</div>

<div class="gameWindow">
    <div class="creatureInfo">{{creature.getName()}} - {{creature.getLevel()}} poziom</div>
    <div class="creature">
        
        <div class="creatureEye">
            <div class="pupil"></div>
        </div>
        <div class="creatureEye">
            <div class="pupil"></div>
        </div>
        <div class="creatureMouth">
            <div class="upperLip"></div>
        </div>
    </div>

    <div class="interractionBar">
        <div class="lamp" (click)="changeLampeState()"></div>

    </div>

    <div class="sleepTime"></div>
</div>