<div class="notificationBar">
    <div class="barBorder">
        <div class="bar" id="healthBar"><span class="tooltiptext">{{creature.getHealth()}}%</span></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="hungryBar"><span class="tooltiptext">{{creature.getHunger()}}%</span></div>
    </div>
    <div class="barBorder">
        <div class="bar" id="tirednessBar"><span class="tooltiptext">{{creature.getTiredness()}}%</span></div>
    </div>
    <div class="logoutButton" (click)="logout()">
        Wyloguj
    </div>
</div>

<div class="gameWindow">
    <div class="creatureInfo">{{creature.getName()}} - {{creature.getLevel()}} poziom</div>
    <div class="creature">


    </div>

    <div class="interractionBar">
        <div class="lamp" (click)="changeLampeState()"></div>
        <div class="fridge" (click)="openFridge()">
            <div class="fridgeContent">
                <div *ngFor="let food of foods" class="foodItem" (mousedown)="clickedFood(food)" >
                    <div [ngClass]="food.getCssClassName()"></div>
                    <p>{{food.getName()}}</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clickedFoodItem" (mouseup)="releasedFood()"></div>
    <div class="sleepTime"></div>
    <div class="loadingDiv">Ładowanie gry, proszę czekać</div>
</div>