@import "../login/login.component";

.logoutButton {
    background-color: $beigeLight;
    z-index: 5;
    float: right;
    //position: relative;
    // top:100%;
    // right: 0%;

    padding: 1vh;
    height: 6vh;
    border: 2px solid $beigeBorder;
    //border-top: 0px;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    margin-right: -2px;
    //box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.notificationBar {
    border: 2px solid $beigeBorder;
    height: 6vh;
    text-align: center;
    //padding: 1vh;
}
.notificationBar > div {
    box-sizing: border-box;
    display: inline-block;
}
.barBorder {
    width: 25vw;
    height: 70%;
    margin: 1vh;
    border: 2px solid $beigeBorder;
    border-radius: 1vh;
    overflow: hidden;
}
.bar {
    //position: absolute;

    width: 30%;
    height: 100%;
}
.bar:hover{
    .tooltiptext {
        //display: inline;
        visibility: visible;
        opacity: 1;
    }
}
#healthBar {
    background-color: #ff6e6e;
}
#hungryBar {
    background-color: #73ff73;
}
#tirednessBar {
    background-color: #858dff;
}
.gameWindow {
    text-align: center;
}
.creature {
    background-color: rgb(117, 88, 45);
    display: inline-block;
    //min-width: 100px;
    //min-height: 100px;
    width: 45vh;
    //width: 25em;
    //height: 25em;
    height: 60vh;
    margin: auto;
    clip-path: polygon(49% 75%, 68% 79%, 73% 90%, 75% 100%, 25% 100%, 22% 90%, 27% 78%);
}
.creatureEye {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 10%;
    height: 10%;
    //margin: auto;
    margin: 0.5vh;
    position: relative;
    top: 13vh;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    //transform: translateX(-6vh);
    //transform: translateY(-5vh);
}
.pupil {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: 30%;
    margin-bottom: 30%;
    // transform: translateY(-0.8em);
}
.creatureMouth {
    background-color: rgb(0, 0, 0);
    display: block;
    width: 30%;
    height: 10%;
    //margin: auto;
    margin: auto;
    position: relative;
    top: 25%;
    border-radius: 50%;
}
.upperLip {
    background-color: rgb(117, 88, 45);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    top: -5%;
    //z-index: 9;
    //transform: translateX(4em);
}

.interractionBar {
    //border: 1px solid $beigeBorder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    background-color: $beigeLight;
    box-sizing: border-box;
    height: 10vh;
    width: 80vw;
    margin: 10vw 0 3vw 10vw;
    position: fixed;
    bottom: 0%;
    z-index: 2;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.5), -3px -3px 5px -2px rgba(255, 255, 255, 0.5);
}
.lamp::before {
    content: "";
    position: relative;
    background-color: rgb(1, 18, 255);
    width: 50%;
    height: 50%;
    top: 50%;
    //left: 25%;
    display: inline-block;
    border-radius: 18% 18% 18% 18% / 50% 50% 50% 50%;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.5);
}
.lamp {
    background-color: rgba(238, 255, 0, 0);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
    width: 9vh;
    height: 8vh;
    display: inline-block;
    margin-left: 1vw;
}
.lamp::after {
    content: "";
    position: relative;
    background-color: rgb(255, 30, 0);
    width: 100%;
    display: inline-block;
    border-radius: 30% 30% 10% 10% / 78% 78% 10% 10%;
    height: 60%;
    top: -70%;
    box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.5);
}
.sleepTime {
    opacity: 0%;
    pointer-events: none;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
@keyframes closeEyes { 
    0% {height: 10%;}
    100% { height: 0.4%; } 
}
@keyframes openEyes { 
    0% {height: 0.4%;}
    100% { height: 10%; } 
}
@keyframes darkenWindow { 
    0% {opacity: 0%;}
    100% { opacity: 100%; } 
}
@keyframes lightenWindow { 
    0% {opacity: 100%;}
    100% { opacity: 0%; } 
}
.tooltiptext {
    //display: none;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: $beigeInput;
    color: $beigeText;
    padding: 1vh;
    border: 1px solid $beigeBorder;
    //box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
}
.fridge{
    background-color: rgb(255, 255, 255);
    //border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
    width: 6vh;
    height: 8vh;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 1vw;
    border: 1px solid black;
}
.fridge::before{
    content: "";
    position: relative;
    //background-color: rgb(255, 30, 0);
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    //border-radius: 30% 30% 10% 10% / 78% 78% 10% 10%;
    height: 40%;
    top:60%;
    left:-1px;
}
.fridge::after{
    content: "";
    position: relative;
    //background-color: rgb(255, 30, 0);
    width: 10%;
    border: 1px solid black;
    display: inline-block;
    //border-radius: 30% 30% 10% 10% / 78% 78% 10% 10%;
    height: 1%;
    top:-40%;
    left:-30%;
}
.fridgeContent{
    display: none;
    position: fixed;
    width: 66vw;
    height: 66vh;
    background-color: $beigeInputTransparent;
    top: 16.5vh;
    left: 16.5vw;
    z-index: 3;
    border: 2px solid $beigeBorder;
    border-radius: 1vh;
    box-sizing: border-box;
    //box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}
.exitButton{
    float: right;
    padding: 1vh;
    margin: 1vh;
    color: red;
    border: 1px solid $beigeBorder;
    border-radius: 1vh;
}
@media only screen and (max-width: 500px) {
    .fridgeContent{
        height: 50vh;
        top: 25vh;
        width: 100%;
        left: 0%;
    }
}
.foodItem{
    display: inline-block;
    width: 20%;
    height: 20%;
    border: 1px solid $beigeBorder;
    box-sizing: border-box;
    border-radius: 1vh;
    margin: 2.5%;
}
.clickedFoodItem{
    display: none;
    position: fixed;
    width: 13%;
    height: 13%;
    border: 1px solid $beigeBorder;
    z-index: 4;
    top: 40%;
    left: 50%;
}
