$beigeLight: #FFDBAC;
$beigeLightShadow: #fde0b9;
$beigeInput: #f1cd9d;
$beigeText: #57452d;
$beigeBorder: #957242;
$beigeBorderClicked: #a78658;
$errorBackground: #f59d9d;
$errorText: #b40000;
$successBackground: #a7f59d;
$successText: #0b8a16;